<template>
    <div class="columns">
        <div class="column"></div>
        <div class="column">


            <div class="field">
                <label class="label">Nombre del Inmueble</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" v-model="vehicle.model">
                </div>

            </div>
            <div class="field">
                <label class="label">Descripcion</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" v-model="vehicle.power">
                </div>

            </div>
            <div class="field">
                <label class="label">Calle</label>
                <div class="control">
                <input
                        id="ship-address"
                        name="ship-address"
                        required
                        autocomplete="off"
                />
                </div>


            </div>


            <div class="field">
                <label class="label">Fotos</label>


            </div>
            <button class="button pull-right is-success m-t-20" @click="save" :disabled="disabledButton">
				<span class="icon">
			      <i class="fa fa-save"></i>
			    </span>
                <span>Guardar</span>
            </button>

        </div>
        <div class="column">


        </div>

    </div>
</template>

<script>



    export default {
        data(){
            return {
                events: [],
                vehicle: {
                    model: '',
                    power:'',
                    wheels:0

                },
                disabledButton: false,

            }

        },
        mounted () {

            var autocomplete = new google.maps.places.Autocomplete(
                document.getElementById("autocomplete"),
            );


        },
        methods:{

            save () {
                return this.axios.post('/vehicle', this.vehicle).then(response => {

                    window.location.href = "/";
                })
            },

        }

    }
</script>

<style scoped>

</style>
